* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
*:focus {
  outline: 0 !important;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  text-shadow: #FAFAFA 3px 5px 15px;
  transition: background-image 1s ease-in-out;
}

.main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.time {
  font-size: 8rem;
}
.fullDate{
  font-size: 2.5rem;
}

h1 {
  font-size: 2rem;
  margin: 1.5vw;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0.6vw;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
  .fullDate{
    font-size: 2.4rem;
  }
  
  h1 {
    font-size: 1.8rem;
    margin: 1.5vw;
  }
  
  h2 {
    font-size: 1.6rem;
    margin-bottom: 0.6vw;
    opacity: 0.8;
  }
}

@media (max-width: 420px) {
  .time {
    font-size: 4rem;
  }
  .fullDate{
    font-size: 2rem;
  }
  
  h1 {
    font-size: 1.3rem;
    margin: 1.5vw;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.6vw;
    opacity: 0.8;
  }

  .citate{
    min-width: 15rem;
    max-width: 36vw;
  }
  .citate-text{
    font-size: 1rem;
  }
}

/* ----------------citate------------------- */


@media (min-width: 421px){
  .citate{
    min-width: 23rem;
    width: 36vw;
    min-height: 9rem;
    height: 22vmin;
  }

  .citate-text{
    font-size: 1.2rem;
  }
}
.citate{
  align-self: flex-start;
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vmin;
  margin-bottom: 0.5rem;
  padding: 1rem;
  

}
.citate-text{
  width: 100%;
  height: 75%;
  text-align: center;
}
.citate-auth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
}
#more{
  width: 6rem;
  border-radius: 0.8rem;
  font-size: 1rem;
}
#more:hover{
  cursor: pointer;
  transform: translateY(1px);
  transition: 300ms;
  background-color: rgba(0,200,0,0.1);
  outline: none;
}

/* -----------update button ----------- */
.btn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("assets/images/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  position: fixed;
  right: 2vmin;
  bottom: 2vmin;
}
.btn:hover {
  filter: grayscale(.8);
  transition: 300ms;
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}

/* ------ weather------------------------ */
.weather{
  align-self: flex-end;
  min-height: 11rem;
  height: 25vh;
  min-width: 20vw;
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-right: 1vmin;
  padding: 0.7rem;

  font-size: 0.875rem;
}
.temperature{
  font-size: 1.2rem;
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.end{
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

.city{
  font-size: 1.2rem;
  text-align: right;
}